body {
	background-color: black;
}

nav {
	// border-bottom: 2px solid white;
	padding: 15px;
	text-align: right;
}

@-webkit-keyframes navPulse {
  from { background-color: black; -webkit-box-shadow: 0 0 0 #333; }
  to { background-color: white; -webkit-box-shadow: 0 0 18px #91bd09; }
}


.navButtons {
  background-color: black;
  color: white;
  height: 80px;
  width: 160px;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 3px solid #7AFFE2;
  letter-spacing: 5px;
  font-size: 22px;
}

.navButtons:hover {
  -webkit-animation-name: navPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  -webkit-box-shadow: 0 0 18px #7AFFE2;
  color: black;
}

.helpBox {
	color: white;
	font-size: 2em;
	letter-spacing: 7px;
	text-align: center;
	padding-top: 100px;
	padding-left: 300px;
	padding-right: 300px;
	margin-left: 50px
}

#dnaTag {
	color: #5FF7FA;
}

.svgGeneContainer {
	display: flex;
	justify-content: center;
}

.variantSummary {

	height: 900px;
	width: 730px;
	font-size: 2em;
	margin-top: 80px;
	border: 2px solid #5FF7FA;
	padding: 20px;
	opacity: .1;

}





// #geneInfo{
// 	border: 3px solid #60EEFF;
// 	height: 300px;
// 	width: 500px;
// 	z-index: 10000;
// 	margin-right: 50px;
// }

svg {
    border: 1px solid black;
    background-color: black;
}

#svg3454 {
	background-color: black;
}

#layer1{
	
perspective: 600px

}

.firstStrand{
	
transform: translate(700px, -45px)
	rotate(97deg)
	scale(2, 2);
	-webkit-animation: rotation 3s infinite linear;

}


.secondStrand {
	transform: translate(200px, 800px)
	rotate(-85deg)
	scale(2, 2)
}


// @-webkit-keyframes rotation {
//     from {-webkit-transform: rotateX(0);}
//     to   {-webkit-transform: rotateX(359);}
// }

@-webkit-keyframes rotation {

	from{-webkit-transform: rotateY(0deg)}
	to{-webkit-transform:  rotateY(30deg)}
}

@-webkit-keyframes spinner {

	from{-webkit-transform:   scale(2,2) rotateX(0deg)}
	to{-webkit-transform:    scale(2,2) rotateX(360deg)}

}

.white {
	color: white;
}

.summaryBox {
	height: 50px;
	width: 200px;
}

.startNow {
	font-size: 28px;
	color: white;
	height: 130px;
	width: 300px;
	background-color: black;
	border: 2px solid #7AFFE2;
}

.startNow:hover {
	// background-color: white;
	background-color: #91bd09;
  

}

@-webkit-keyframes startPulse {
  from { background-color: black; -webkit-box-shadow: 0 0 0 #333; }
  to { background-color: white; -webkit-box-shadow: 0 0 18px #91bd09; }
}

.buttonPulse {
  background-color: black;
  color: white;
  height: 120px;
  width: 300px;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 3px solid #7AFFE2;
  letter-spacing: 8px;
  font-size: 28px;
  margin-left: 240px;
  margin-bottom: 150px;
}

.buttonPulse:hover {
  -webkit-animation-name: startPulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 2;
  -webkit-box-shadow: 0 0 18px #7AFFE2;
  color: black;
}

.buttonPulse:focus{
	display: none;
}

.viewMoreSamples {
	text-align: center;
	margin-top: 50px;
	margin-right: 200px;
	}
