// body {
// 	background-color: white;
// }

// #statSvg {
// 	background-color: white;
// }

body {
	background-color: black;
  font: 20px sans-serif;
  text-align: center;
}

.helpBox {
  color: white;
  font-size: 2em;
  letter-spacing: 7px;
  text-align: center;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#nodeInfo {
  margin: auto;
  color: white;
	border: 2px solid black;
	font-size: 38px;
	height: 300px;
	width: 3000px;
  text-align: center;

}

.sexButtons {
  font-size: 38px;
  color: white;
  height: 130px;
  width: 300px;
  background-color: black;
  border: 2px solid #7AFFE2;
  margin-left: 200px;
  padding-top: 35px;

}



